# WAYS demo #1

A minimal working example of the WAYS package

In [1]:
import pandas as pd
import altair as alt
from ipywidgets import widgets

# Import WAYS
import sys; sys.path.insert(0, '..')
from ways_py.ways import meta_hist, WAlt, altair_widgets

In [2]:
from vega_datasets import data
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

# states_income = pd.read_json(data.income.url)

In [3]:
movie_data = pd.read_json(data.movies.url)
movie_data.head()

,Title,US_Gross,Worldwide_Gross,US_DVD_Sales,Production_Budget,Release_Date,MPAA_Rating,Running_Time_min,Distributor,Source,Major_Genre,Creative_Type,Director,Rotten_Tomatoes_Rating,IMDB_Rating,IMDB_Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,Jun 12 1998,R,NaN,Gramercy,None,None,None,None,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,Aug 07 1998,R,NaN,Strand,None,Drama,None,None,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,Aug 28 1998,None,NaN,Lionsgate,None,Comedy,None,None,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,Sep 11 1998,None,NaN,Fine Line,None,Comedy,None,None,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,Oct 09 1998,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,None,62.0,3.4,165.0

In [4]:
@altair_widgets() # will modify the ratings_scatter func to take args: data, column
@meta_hist
def ratings_scatter(data, color):
    chart = alt.Chart(data, title='IMDB VS RT by Budget').mark_circle().encode(
        x='IMDB_Rating',
        y='Rotten_Tomatoes_Rating',
        color=color
    )
    return chart

In [5]:
ratings_scatter(movie_data, "Production_Budget")

GridBox(children=(Checkbox(value=True, description='Bin'), IntText(value=7, continuous_update=True, descriptio…

GridBox(children=(RadioButtons(description='Color Method', options=('Scheme', 'Range'), value='Scheme'), Dropd…

Output()